@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Souce Sans 3", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(240, 230, 243);
  background-color: #505050;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 80%;
  min-height: 550px;
  margin: 0 auto;
  max-width: 400px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.06);
  padding: 20px;
  overflow-y: scroll;
  position: relative;
  border: 10px solid #f44336;
  border-width: 15px;
}
.container::-webkit-scrollbar {
  display: none;
}
.head {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  background-color: #f44336;
  font-size: 1.25rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
}
span img {
  position: relative;
  top: 5px;
  left: 10px;
  width: 30px;
}
.wrapper {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #f1f1f1;
  overflow: hidden;
}
.wrapper input {
  border: none;
  width: auto;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1.25rem;
  overflow: hidden;
  text-transform: capitalize;
}
.wrapper input:focus {
  outline: 0;
}

.wrapper button {
  border: none;
  width: 50px;
  cursor: pointer;
  height: 50px;
  color: #313131;
  padding: 1rem;
  font-size: 1.5rem;
  transition: background 0.3s ease;
}
button:hover {
  background-color: #f44336;
  color: white;
}
#list-container {
  margin-top: 1.25rem;
}
ul li {
  list-style: none;
  font-size: 20px;
  margin-bottom: 0.5rem;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(./images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 7px;
  left: 8px;
}
ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(./images/checked.png);
  background-size: cover;
  background-position: center;
  top: 7px;
  left: 8px;
}

.task_box {
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-block-end: 1rem;
  overflow: hidden;
}
li {
  position: relative;
}
li > span {
  position: absolute;
  right: 0rem;
  top: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #555;
  text-align: center;
  transform: translate(0%, -50%);
  font-size: 1.5rem;
}
span:hover {
  background-color: #807c7c2d;
  border-radius: 100%;
  cursor: pointer;
}
